

@media (max-width: 768px) {
   
    .title {
        font-size: 60px; 
    }

    .hero {
        padding: 60px 20px;
        font-size: 20px;
    }

    nav {
        grid-template-columns: 1fr;
        flex-direction: column; 
        gap: 15px;
        display: flex;
    }

    nav ul {
        gap: 10px;
        font-size: 14px;
    }

    
    .grid-products {
        grid-template-columns: repeat(auto-fit, minmax(160px, 1fr)); 
        gap: 15px;
        padding: 0 10px;
    }

    .product-image-container {
        width: 100%; 
    }

    .card-name {
        font-size: 30px;
    }
}

@media (max-width: 480px) {
    .title {
        font-size: 45px;
    }

    .premium p {
        font-size: 1rem;
    }
}
@media (max-width: 768px) {
    footer {
        padding: 30px 20px; 
    }
    
    .footer-content .tagline {
        font-size: 12px; 
    }
}
@media (max-width: 768px) {
    .tech-grid {
        grid-template-columns: 1fr; 
        gap: 30px;
        padding: 0 20px;
    }

    .tech-item h3 {
        font-size: 1.2rem;
    }
    #tech{
        max-width: 200px;
        height: 50px;
    }
}
@media (max-width: 500px) {
   

    .grid-products {
        display: grid;
       
        grid-template-columns: 1fr 1fr; 
        gap: 10px; 
        padding: 0 4px;
        justify-content: center;
        
    }

   
    .product-image-container {
        width: 10%;
        height: auto;
    }
}
